.navbar{
  background-color: black;
  color: white;
  padding: 20px 0 20px 0;
}

.navbar > ul{
  list-style: none;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

li{
  cursor: pointer;
}